{% extends 'base_forum.html' %}
{% load static %}

{% block 'title' %}Visualização de Tópicos -{% endblock%}
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'css/topic_view.css' %}">
{% endblock %} 

{% block 'body' %} 
    <div class="wrapper">
        <div class="box">
            <div class="header-box">
                </section>
                
                
                <h2 class="titulo">Visualização dos Tópicos</h2>
                {% if user.is_authenticated %}
                <a href="{% url 'new_post' %}"><i class='bx bxs-message-square-add'></i></a>
                {% endif %}
            </div>
            <div class="body-box">
                <form action="#" method="GET">
                    <div class="row">
                        <div class="col-md-8 input-box">
                            <i class="bx bx-search-alt"></i>
                            <input type="text" placeholder="Busque pelo assunto" class="form-control" name="assunto">
                        </div>
                    </div>
                </form>
                {% if posts %}
                <table class="tabela tabela-centralizada" cellpadding="20">
                    <tr class="tabela-header">
                        <th>Post</th>
                        <th>Assunto</th>
                        <th>Categoria</th>
                        <th>Mensagem</th>
                        <th>Usuário</th>
                        <th>Data</th>                        
                        <th>Ações</th>
                        
                    </tr>
                    {% for post in posts %}
                    <tr class="{% cycle 'linha' 'linha2' %}">
                        <td>
                            {% if post.image %}
                                <img src="{{ post.image.url }}" width="100" height="100" alt="{{ post.subject }}">
                            {% endif %}
                        </td>
                        <td>{{ post.subject }}</td>
                        <td>{{ post.category }}</td>
                        <td>{{ post.message }}</td>
                        <td>{{ post.author.first_name }}</td>
                        <td>{{ post.date_posted|date:"d/m/Y" }}</td>
                        <td class="td_sy">
                            <a href="{% url 'comment' topic_id=post.id %}"><i class='bx bxs-message-square-dots' style='color:#1e0867; font-size: 45px;'></i></a>
                            {% if user.is_authenticated and post.author == user %}
                                <a href="{% url 'edit_post' post.id %}"><i class='bx bxs-message-square-edit' style='color:#1c6d62; font-size: 45px;'></i></a>
                                <a href="{% url 'delete_post' post.id %}"><i class='bx bxs-message-square-x' style='color:#bf1b1d; font-size: 45px;'></i></a>
                            {% endif %}
                            
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    {% if posts.has_previous %}
                    <a href="?pagina=1">Primeira</a>
                    <a href="?pagina={{ posts.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="current">Página {{ posts.number }} de {{ posts.paginator.num_pages }}</span>
                    {% if posts.has_next %}
                    <a href="?pagina={{ posts.next_page_number }}">Próxima</a>
                    <a href="?pagina={{ posts.paginator.num_pages }}">Última</a>
                    {% endif %}
                </div>
                {% else %}
                <p>Nenhum post encontrado.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock%}